<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.edu.jfcs.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="cn.edu.jfcs.perspective"
            class="cn.edu.jfcs.app.Perspective"
            id="cn.edu.jfcs.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="cn.edu.jfcs.application"
            name="jfcs">
         <property
               name="preferenceCustomization"
               value="AppPref.ini"/>
         <property
               name="startupProgressRect"
               value="1,279,453,15"/>
         <property
               name="startupForegroundColor"
               value="FF8000"/>
         <property
               name="startupMessageRect"
               value="6,260,200,16"/>
         <property
               name="windowImages"
               value="icons/jfcs.gif"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="content/welcomeicon.gif"
            id="cn.edu.jfcs.intro">
      </intro>
      <introProductBinding
            introId="cn.edu.jfcs.intro"
            productId="cn.edu.jfcs.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="cn.edu.jfcs.intro"
            content="introContent.xml"
            id="cn.edu.jfcs.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="cn.edu.jfcs.ui.TeachUnitName"
            icon="icons/teachUnitNameView.gif"
            id="cn.edu.jfcs.ui.teachunitname"
            name="教学单位"/>
      <view
            allowMultiple="false"
            class="cn.edu.jfcs.ui.PieDiagram"
            icon="icons/pieDiagramView.gif"
            id="cn.edu.jfcs.ui.piediagram"
            name="经费概览"/>
      <view
            allowMultiple="false"
            class="cn.edu.jfcs.ui.TeachUnitClass"
            icon="icons/teachUnitClassView.gif"
            id="cn.edu.jfcs.ui.teachunitclass"
            name="教学单位课程明细"/>
      <view
            class="cn.edu.jfcs.ui.TeachUnitData"
            icon="icons/teachUnitData.gif"
            id="cn.edu.jfcs.ui.teachunitdata"
            name="教学单位基本情况"/>
      <view
            class="cn.edu.jfcs.ui.StackedBarChart"
            icon="icons/graphicsData.gif"
            id="cn.edu.jfcs.ui.stackedbarchart"
            name="图形对比"/>
      <view
            class="cn.edu.jfcs.ui.HistoryData"
            icon="icons/historyData.gif"
            id="cn.edu.jfcs.ui.historydata"
            name="历史数据"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.edu.jfcs.ui.PublicDataEditor"
            default="false"
            icon="icons/publicParamSet.gif"
            id="cn.edu.jfcs.ui.publicdataeditor"
            name="公共参数设置">
      </editor>
   </extension>
  </plugin>
